@page "/movies"
@using LANMovie.Common

@inject IJSRuntime JS
@inject MessageService _message
@inject NotificationService _notice
@inject NavigationManager NavigationManager

@if (!movies.Any())
{
    <Empty Image="images/movie.svg"
           ImageStyle='@("height: 80px")'
           Style="position:center; transform:translateY(100%);">
        <DescriptionTemplate>
            <p style="color:#CCC;">没有可供播放的资源，点击上传吧 ~</p>
        </DescriptionTemplate>
        <ChildContent>
            <Button type="@ButtonType.Primary" OnClick=@(() => NavigationManager.NavigateTo("", true)) Style="width:120px;">上 传</Button>
        </ChildContent>
    </Empty>
}
else
{
    <AntList Grid="grid" DataSource="@movies" Style="overflow:scroll; overflow-x:hidden; height:100%; max-height:650px;" Id="imageCard">
        <ListItem>
            <br/>
            <img alt="Cover" src=@($"api/image/movie/{context.Id}") onclick="@(() => NavigationManager.NavigateTo($"playvideo/movie/{context.Id}"))" class="zoomImage"/>
        </ListItem>
    </AntList>
}

<style>
    #imageCard::-webkit-scrollbar {
        display: none;
    }

    .zoomImage{
        width:100%;
        border-radius:10px;
        background-color:yellow;
    }

    .zoomImage:hover{
        cursor:pointer;
        box-shadow: 0 6px 6px rgba(0, 0, 0, .2);
        border-color: #eee;
        transition: all .2s ease-in-out;
    }
</style>