<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <Space>
            <Popover ContentTemplate="@_content" Placement=@Placement.RightBottom>
                <Image Src="images/index.png" Preview=false style="width:32px; margin-right:10px; cursor:pointer;"/>
            </Popover>
            <a class="navbar-brand" href="">LANMovie</a>
        </Space>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>
@code{
    RenderFragment _content = @<Image Src="connect.png" Width=100 Preview="false"/>;
}

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <Space><Icon Type="cloud-upload" Theme="outline" Width=25 Height=25 Style="margin-right:15px;"/>上 传</Space>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="movies">
                <Space><Icon Type="youtube" Theme="outline" Width=25 Height=25 Style="margin-right:15px;"/>电 影</Space>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="teleplays">
                <Space><Icon Type="desktop" Theme="outline" Width=25 Height=25 Style="margin-right:15px;"/>电 视 剧</Space>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="shortvideos">
                <Space><Icon Type="video-camera" Theme="outline" Width=25 Height=25 Style="margin-right:15px;"/>短 视 频</Space>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="config">
                <Space><Icon Type="setting" Theme="outline" Width=25 Height=25 Style="margin-right:15px;"/>设 置</Space>
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
